.input {
  margin-bottom: 32px;
  position: relative;
  &__label {
    position: absolute; /*+ ==Display block*/
    left: 42px;
    top: 16px;
  }
  &__control {
    color: var(--color-primary-dark);
    background-color: transparent;
    padding: 16px 42px;
    width: 100%;
    border: 1px solid var(--color-secondary-dark);
    border-radius: 8px;
    font-size: 16px;
    line-height: 1.17;
    &:focus {
      border-color: var(--color-brand-normal);
      outline: none;
    }
    &::placeholder {
      color: var(--color-secondary-dark);
      font-size: 16px;
      line-height: 1.17;
    }
    &:focus::placeholder {
      color: var(--color-primary-dark);
    }
  }
}
