.traditions-section {
  padding-top: 40px;

  @media screen and (min-width: $bp-tablet) {
    padding-top: 96px;
  }

  &__container {
    justify-content: space-between;
    display: flex;
    gap: 40px;
    align-items: flex-start;
  }
  &__content {
    margin: auto 20px;
    width: 100%;
    @media screen and (min-width: $bp-tablet) {
      min-width: 710px;
    }
  }
  &__title {
    margin: auto 20px 42px 20px;
  }
  &__text {
    margin: 24px 20px 16px 18px;
    &--limited {
      max-width: 310px;
    }
  }
  &__image {
    display: none;
    @media screen and (min-width: $bp-tablet) {
      display: block;
      border-radius: 400px 400px 0px 0px;
    }
  }
}
