body {
  background-color: hsl(91, 41%, 61%);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 0;
    background-color: hsl(0, 0%, 36%);
    color: white;
    font-size: 3rem;    
    font-weight: bold;
    cursor: pointer;
    transition: ease-in-out .5s;
}

button:hover{
    background-color: hsl(0, 0%, 45%);
    transition: ease-in-out .25s;
    transform: translateX(2.5px);
    transform: translateY(2.5px);
}

button:active{
    background-color: hsl(0, 0%, 80%);
    
}

#calculator{
    font-family: sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}

#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: 0;
    background-color: hsl(0, 0%, 20%);
    color: white;
    
}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr); /*4 = columns, 1fr = evenly proportioned*/
    gap: 10px;
    padding: 25px;
}

.operator-btn{
    background-color: hsl(31, 85%, 56%);
}
.operator-btn:hover{
    background-color: hsl(31, 85%, 66%);
}
.operator-btn:active{
    background-color: hsl(0, 37%, 15%);
}
