// @font-face {
//   font-display: swap;
//   font-family: 'Poppins';
//   font-weight: 300;
//   src: url('../fonts/poppins-v20-latin-300.woff2') format('woff2');
// }
// @font-face {
//   font-display: swap;
//   font-family: 'Poppins';
//   font-weight: 400;
//   src: url('../fonts/poppins-v20-latin-regular.woff2') format('woff2');
// }
// @font-face {
//   font-display: swap;
//   font-family: 'Poppins';
//   font-weight: 600;
//   src: url('../fonts/poppins-v20-latin-600.woff2') format('woff2');
// }
// @font-face {
//   font-display: swap;
//   font-family: 'Poppins';
//   font-weight: 900;
//   src: url('../fonts/poppins-v20-latin-900.woff2') format('woff2');
// }

@font-face {
  font-display: swap;
  font-family: 'Rubik';
  font-weight: 300;
  src: url('../fonts/rubik-v28-cyrillic-ext_latin-300.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Rubik';
  font-weight: 400;
  src: url('../fonts/rubik-v28-cyrillic-ext_latin-regular.woff2')
    format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Rubik';
  font-weight: 600;
  src: url('../fonts/rubik-v28-cyrillic-ext_latin-600.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Rubik';
  font-weight: 900;
  src: url('../fonts/rubik-v28-cyrillic-ext_latin-900.woff2') format('woff2');
}
